@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i,800,800i");

#header1-40 .btn {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
}
#header1-40 h1 {
  font-family: "Fira Sans", sans-serif;
}
#header1-40 p {
  font-family: "Fira Sans", sans-serif;
}
#menu-41 .mbr-brand__name {
  font-size: 16px;
}
#menu-41.mbr-navbar--stuck .mbr-navbar__section {
  background: #395259;
}
#menu-41 .mbr-brand__name a {
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
}
#menu-41 .mbr-navbar__items a {
  font-family: "Fira Sans", sans-serif;
}
#features1-42 p {
  text-align: center;
}
#features1-44 p {
  text-align: center;
  color: #ffffff;
}
#features1-44 h3 {
  color: #ffffff;
}
#msg-box5-46 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-46 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-46 .mbr-article {
  color: #ffffff;
}
#features1-47 p {
  color: #4c6972;
  text-align: center;
}
#msg-box3-48 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-48 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box2-50 h2 {
  color: #252525;
}
#msg-box2-50 p {
  color: #252525;
}

#content5-77 .caption h3 {
  color: #fff;
  font-size: 46px;
  font-family: "Fira Sans", sans-serif;
}
#content5-77 p {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: "Fira Sans", sans-serif;
}
#menu-59 .mbr-brand__name {
  font-size: 16px;
}
#menu-59.mbr-navbar--stuck .mbr-navbar__section {
  background: #395259;
}
#menu-59 .mbr-brand__name a {
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
}
#menu-59 .mbr-navbar__items a {
  font-family: "Fira Sans", sans-serif;
}
#image2-83 small {
  font-size: 17px;
}
#slider2-88 h1 {
  color: #ffffff;
}

#header1-73 .btn {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
}
#header1-73 h1 {
  font-family: "Fira Sans", sans-serif;
}
#header1-73 p {
  font-family: "Fira Sans", sans-serif;
}
#menu-74 .mbr-brand__name {
  font-size: 16px;
}
#menu-74.mbr-navbar--stuck .mbr-navbar__section {
  background: #395259;
}
#menu-74 .mbr-brand__name a {
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
}
#menu-74 .mbr-navbar__items a {
  font-family: "Fira Sans", sans-serif;
}
#features1-75 p {
  text-align: center;
}
#features1-77 p {
  text-align: center;
  color: #ffffff;
}
#features1-77 h3 {
  color: #ffffff;
}
#msg-box5-79 .mbr-header__text {
  color: #414141;
}
#msg-box5-79 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-79 .mbr-article {
  color: #414141;
}
#features1-80 p {
  color: #4c6972;
  text-align: center;
}
#msg-box3-81 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-81 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box2-83 h2 {
  color: #252525;
}
#msg-box2-83 p {
  color: #252525;
}

#menu-20 .mbr-brand__name {
  font-size: 16px;
}
#menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #395259;
}
#menu-20 .mbr-brand__name a {
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: #c4c4c4;
  text-decoration: none;
}
#menu-20 .mbr-navbar__items a {
  font-family: "Fira Sans", sans-serif;
}
#features1-21 p {
  text-align: center;
  color: #414141;
  font-size: 14px;
  font-weight: 400;
}

#features1-21 li {
  padding-bottom: 5px;
  color: #999;
  text-align: center;
  color: #414141;
  font-size: 14px;
  font-weight: 400;
}

#features1-21 ul {
  padding-inline-start: 0px;
}

#features1-23 p {
  text-align: center;
  color: #ffffff;
}
#features1-23 h3 {
  color: #ffffff;
}
#msg-box5-25 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-25 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-25 .mbr-article {
  color: #ffffff;
}
#features1-26 p {
  color: #4c6972;
  text-align: center;
}
#msg-box3-27 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-27 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box2-29 h2 {
  color: #252525;
}
#msg-box2-29 p {
  color: #252525;
}

#content5-92 .caption h3 {
  color: #fff;
  font-size: 46px;
  font-family: "Fira Sans", sans-serif;
}
#content5-92 p {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: "Fira Sans", sans-serif;
}
#menu-93 .mbr-brand__name {
  font-size: 16px;
}
#menu-93.mbr-navbar--stuck .mbr-navbar__section {
  background: #395259;
}
#menu-93 .mbr-brand__name a {
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
}
#menu-93 .mbr-navbar__items a {
  font-family: "Fira Sans", sans-serif;
}
#features1-108 .thumbnail .image img {
  max-width: 100%;
}
#image2-97 small {
  font-size: 17px;
}
#image2-111 small {
  font-size: 20px;
}
#image2-113 small {
  font-size: 20px;
}
#image2-114 small {
  font-size: 20px;
}
#msg-box3-117 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-117 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-117 .mbr-article p {
  text-align: left;
}
